/*
This is part of LaunchCode Unit-3 class for front-end development.
Uses HTML, CSS styling, AJAX and Javascript.
Created by Radhakrishnan Pillai for LaunchCode Unit-3

This Launchcode unit-3 assaignement addresses one of the classic problems in computer science of how to 
optimally implement a web page that displays GIFs of the Jackson 5.
*/

.row {
  margin: 10px;
}

.header {
  text-align: center;
  background-color: rgb(139, 166, 238);
  margin-top: 50px;
  padding: 20px;
}

#gif {
  text-align: center;
  margin-bottom: 20px;
}
